

/*  color */

.f-color-red {
    color: red;
}
.f-color-green {
    color: green;
}
.f-color-blue {
    color: blue;
}
.f-color-orange {
    color: orange;
}
.link-color a:link {
    color: red;
}
.link-color a:visited {
    color: green;
}
.link-color a:hover {
    color: blue;
}
.link-color a:active {
    color: orange;
}

/*  decoration   */

.decoration-none {
    text-decoration: none;
}

.decoration-hover:hover {
    text-decoration: none;
    text-decoration-style: dashed;
    border-bottom: 1px dashed orange;
}

/*  tag  */

header, section, footer {
    border: 1px solid darkgray;
    font-family: sans-serif;
}

header {
    text-align: center;
}

img {
    width: 100px;
    height: 100%;
}

ul {
    list-style-type: none;
}

li {
    padding: 9px 0px;
    border-bottom: 1px dashed darkgray;
}



/*  class   */
/*  Завдання 1 */

.task-1__wrapper, .task-2__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task__header {
    text-align: center;
}

.task__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-1 {
    max-width: 290px;
}


.link-img a {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.link-3 button:hover {
    cursor: pointer;
}


li.link-12 {
    display: flex;
    align-items: center;
}

li.link-12 img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}



/*  Завдання 2 */

/*  form    */



/*  form 1  */

.form-1 form {
    padding: 10px;
    background-color: #f2f2f2;
}

.form-1 div {
    margin: 3px;
}

.form-1 .country{
    display: flex;
}

.form-1 .country > div {
    margin: 0px 10px 0px 0px;
}




select {
    width: 140px;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}

label {
    position: relative;
}

.gender label:after {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 23px;
    content: '<>';
    font: 14px "Consolas", monospace;
    color: #eee;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 0px;
    top: -3px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    background-color: cornflowerblue;
    background: #EB60F7;
    background: -webkit-linear-gradient(left, #EB60F7, #9B3EA3);
    background: -moz-linear-gradient(left, #EB60F7, #9B3EA3);
    background: linear-gradient(to right, #EB60F7, #9B3EA3);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}



input.custom-select[type="date"]::-webkit-inner-spin-button,
input.custom-select[type="date"]::-webkit-calendar-picker-indicator {



    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    width: 25px;
}


.date-1 {
    position: relative;
    display: flex;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
}

.date-1 input{
    margin-left: 5px;
}

div.l {
    position: absolute;
    width: 6px;
    height: 14px;
    border: 1px solid darkgray;
    border-radius: 4px;
    right: 20px;
    z-index: 1000;
    top: 2px;
    margin: 0px;
}

div.l:after, div.l:before  {
    position: absolute;
    font-size: 9px;
    color: #A9A9A9;
    z-index: 1000;
    right: 0px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

div.l:after {
    content: ">";
    top: 6px;
}

div.l:before {
    content: "<";
}





.country span, .country input {
display: inline-block;
}

.country input {
vertical-align: middle;
margin: 0;
top: -1px;
position: relative;
}

.country div {
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}




/*  form-2  */


.form-2{
    margin: 50px auto;
}

.form-2 form>div {
    margin: 10px 0px;
}

.form-2 form>div, .form-2 .f-cont {
    display: flex;
    align-items: center;
}

.form-2 .f-descr{
    min-width: 150px;
}

.form-2 .f-cont>div {
    margin-right: 10px;
}

.form-2  input {
    top: 1px;
    position: relative;
}

.form-2 .f-cont.btn input{
    margin-right: 10px;
}



/*  form 3  */

.form-3 form {
    border: 1px solid darkgray;
    border-radius: 3px;
    min-width: 550px;
}

img.close{
    width: 15px;
    height: 15px;
}

.form-3 .header span {
    font-size: 25px;
}

.form-3 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.form-3 .descr{
    display: flex;
}


.login-soc {
    display: flex;
    flex-direction: column;
}


.login-form {
    flex-grow: 1;
    padding: 0px 0px 20px 15px;
}


.login-form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}






.or {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}


.line {
    flex-grow: 1;
    width: 1px;
    background-color: #ddd;
}







.login-soc {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}


.login-soc img{
    width: 20px;
    height: auto;
}


