

/*  color */

.f-color-red {
    color: red;
}
.f-color-green {
    color: green;
}
.f-color-blue {
    color: blue;
}
.f-color-orange {
    color: orange;
}
.link-color a:link {
    color: red;
}
.link-color a:visited {
    color: green;
}
.link-color a:hover {
    color: blue;
}
.link-color a:active {
    color: orange;
}

/*  decoration   */

.decoration-none {
    text-decoration: none;
}

.decoration-hover:hover {
    text-decoration: none;
    text-decoration-style: dashed;
    border-bottom: 1px dashed orange;
}

/*  tag  */

header, section, footer {
    border: 1px solid darkgray;
    font-family: sans-serif;
}

header {
    text-align: center;
}

img {
    width: 100px;
    height: 100%;
}

ul {
    list-style-type: none;
}

li {
    padding: 9px 0px;
    border-bottom: 1px dashed darkgray;
}



/*  class   */
/*  Завдання 1 */

.task-1__wrapper, .task-2__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task__header {
    text-align: center;
}

.task__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-1 {
    max-width: 290px;
}


.link-img a {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.link-3 button:hover {
    cursor: pointer;
}


li.link-12 {
    display: flex;
    align-items: center;
}

li.link-12 img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}



/*  Завдання 2 */

/*  form    */



/*  form 1  */

.form-1 form {
    padding: 10px;
    background-color: #f2f2f2;
}

.form-1 div {
    margin: 3px;
}

.form-1 .country{
    display: flex;
}

.form-1 .country > div {
    margin: 0px 10px 0px 0px;
}




select {
    width: 140px;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}

label {
    position: relative;
}

.gender label:after {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 23px;
    content: '<>';
    font: 14px "Consolas", monospace;
    color: #eee;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 0px;
    top: -3px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    background-color: cornflowerblue;
    background: #EB60F7;
    background: -webkit-linear-gradient(left, #EB60F7, #9B3EA3);
    background: -moz-linear-gradient(left, #EB60F7, #9B3EA3);
    background: linear-gradient(to right, #EB60F7, #9B3EA3);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}



input.custom-select[type="date"]::-webkit-inner-spin-button,
input.custom-select[type="date"]::-webkit-calendar-picker-indicator {



    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    width: 25px;
}


.date-1 {
    position: relative;
    display: flex;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
}

.date-1 input{
    margin-left: 5px;
}

div.l {
    position: absolute;
    width: 6px;
    height: 14px;
    border: 1px solid darkgray;
    border-radius: 4px;
    right: 20px;
    z-index: 1000;
    top: 2px;
    margin: 0px;
}

div.l:after, div.l:before  {
    position: absolute;
    font-size: 9px;
    color: #A9A9A9;
    z-index: 1000;
    right: 1px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

div.l:after {
    content: ">";
    top: 6px;
}

div.l:before {
    content: "<";
}





.country span, .country input {
display: inline-block;
}

.country input {
vertical-align: middle;
margin: 0;
top: -1px;
position: relative;
}

.country div {
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}




/*  form-2  */


.form-2{
    margin: 50px auto;
}

.form-2 form>div {
    margin: 10px 0px;
}

.form-2 form>div, .form-2 .f-cont {
    display: flex;
    align-items: center;
}

.form-2 .f-descr{
    min-width: 150px;
}

.form-2 .f-cont>div {
    margin-right: 10px;
}

.form-2  input {
    top: 1px;
    position: relative;
}

.form-2 .f-cont.btn input{
    margin-right: 10px;
}



/*  form 3  */

.form-3 form {
    border: 1px solid darkgray;
    border-radius: 3px;
    min-width: 635px;
}

img.close{
    width: 15px;
    height: 15px;
    transition: transform .3s ease-in-out;
}

img.close:hover {
cursor: pointer;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

}

.form-3 .header span {
    font-size: 25px;
}

.form-3 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.form-3 .descr {
    display: flex;
    padding-bottom: 20px;
}

.form-3 input{
    margin-top: 5px;
}
.form-3 input[type="text"], .form-3 input[type="password"] {
    height: 34px;
    border: 1px solid #ddd;
    border-radius: 3px;
    /* line-height: 25px; */
    font-size: 1.7em;
    padding: 0px 5px;
}

.form-3 input[type="checkbox"] {
display: none;
}


.form-3 label {

    cursor: default;
    vertical-align: middle;
    border-radius: 3px;
}


.form-3 label:hover {

    cursor: pointer;

}



.form-3 input:checked + label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ffffff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
background-color: forestgreen;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
}


.form-3 input:disabled + label:before {
    background: #eee;
    color: #aaa;
}



.form-3 label:before {
    content: "";
    color: #000;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 15px;
    height: 15px;
    border: 1px solid #e3e3e3;
    vertical-align: middle;
    border-radius: 3px;
}



.rem {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}

.rem span {
    color: #5e5959;
}


.rem a, .form-3 .btn a {
    text-decoration: none;
    color: #0e6ad5;
}

.rem a:hover {
    color: #5180d5;
}


.form-3 .btn input {
    height: 45px;
    background-color: #00A046;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
}

.form-3 .btn input:hover {
cursor: pointer;
    background-color: #46a062;

}


.form-3 .btn a {
    margin-top: 15px;
    text-align: center;
}









.login-soc {
    display: flex;
    flex-direction: column;
}


.login-form {
    flex-grow: 1;
    padding: 0px 0px 0px 20px;
}


.login-form > div {
    margin-bottom: 15px;
}

.login-form .login,
.login-form .pass,
.login-form .btn
{
    display: flex;
    flex-direction: column;

}

.login-form .login, .login-form .pass {
    font-size: 11px;
    color: gray;
}


.login-form .rem {
    display: flex;
}





.or {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}


.line {
    flex-grow: 1;
    width: 1px;
    background-color: #ddd;
}


.line-txt, .login-soc > span  {
    font-size: 0.9em;
    color: #969494;
}




.login-soc {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    min-width: 210px;
}

.login-soc > * {
    margin-bottom: 20px;
}


.login-soc > span {
    text-align: center;
}


.login-soc a {
    display: inline-block;
    height: 45px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color: #5180d5;
    font-weight: bold;
    background-color: #F5F5F5;
}


.login-soc img {
    width: 20px;
    height: auto;
    top: 3px;
    position: relative;
    margin-right: 5px;
}





/*  form 4  */


.form-4 {
    margin-top: 35px;
}


.form-4 .pass img {
    height: 20px;
    width: auto;
    margin: 0px 10px;
    position: relative;
    top: 2px;
}

.form-4 .pass img:hover {
cursor: pointer;
}

.form-4 .pass div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-4 .pass input {
    flex-grow: 1;
}


.form-4 .rem {
    max-width: 300px;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-4 .rem p {
    font-size: 11px;
    color: gray;
    margin: 5px 0px 10px;
}
.form-4 .pass {
    margin-bottom: 0;
}

.form-4 .btn a {
    font-size: 0.95em;
}

header {
    margin-bottom: 10px;
}
.task-2 {
    padding-bottom: 35px;
    margin: 10px 0px;
}

footer {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

footer p {
    text-align: center;
}
